<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flat UI Free</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/stylesheets/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Loading Font Awesome -->
    <link rel="stylesheet" href="/stylesheets/css-font-aws/font-awesome.min.css">

    <!-- Loading Messenger -->
    <link rel="stylesheet" href="/stylesheets/css-messenger/messenger.css">
    <link rel="stylesheet" href="/stylesheets/css-messenger/messenger-theme-air.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
    <div class="container">
        <%- body%>
    </div>
    <!-- /.container -->


    <!-- Load JS here for greater good =============================-->
    <script src="/javascripts/jquery-1.8.3.min.js"></script>
    <script src="/javascripts/bootstrap/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/javascripts/bootstrap/jquery.ui.touch-punch.min.js"></script>
    <script src="/javascripts/bootstrap/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap/bootstrap-select.js"></script>
    <script src="/javascripts/bootstrap/bootstrap-switch.js"></script>
    <script src="/javascripts/bootstrap/flatui-checkbox.js"></script>
    <script src="/javascripts/bootstrap/flatui-radio.js"></script>
    <script src="/javascripts/bootstrap/jquery.tagsinput.js"></script>
    <script src="/javascripts/bootstrap/jquery.placeholder.js"></script>
    <script src="/javascripts/messenger/messenger.min.js"></script>
    <script src="/javascripts/messenger/messenger-theme-future.js"></script>
    <script src="/javascripts/socket.io/socket.io.min.js"></script>
    <script src="/javascripts/challenge/socket.js"></script>
    <script src="/javascripts/challenge/action.js"></script>
	<script src="/javascripts/ejs_fulljslint.js"></script>
    <script>
        /* Init socket.io */
        $(function() {
            socket = io.connect('http://localhost:8080/challenge');

			if (socket) {
				registerListeners(socket);
				socket.emit('Established', {});
				console.log('socket established\n');
			}
        });

		/* Init Messenger */
		$(function() {
			Messenger.options = {
				extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
				theme: 'air'
			}
		});
    </script>
  </body>
</html>
