<h1>Hello ejs.</h1>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#registeModal">
	Registe
</button>
<input id="pair-name-input" type="text" class="form-control" placeholder="Username">
<button class="btn btn-primary btn-lg" onclick="challenge()">
	Challenge
</button>
<button class="btn btn-primary btn-lg" onclick="match()">
	Match
</button>

<!-- Modal Registe -->
<div class="modal fade" id="registeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin-top:auto margin-bottom:auto">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Register</h4>
      </div>
      <div class="modal-body">
        <form role="form">
        <div class="input-group" style="width:100%">
          <input id="name-input" type="text" class="form-control" placeholder="Username">
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="register()">Register Now</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
