<% // TODO: handler code here... %>
<% // Variable 'code' is a char array. %>
<% // You can use code[i] to get each character. %>
<h3>We are challenging...!</h3>

<%= code%>
<p>(c) Stylenet 2014</p>
