@CHARSET "UTF-8";

.notTyped {
	color: #34495e;
}

.hasTyped {
	color: #aaa;
}

.wrong {
	color: #e74c3c;
}

.o-typing {
	/*text-shadow: 2px 2px 1px #444;*/
	background-color: #ecbe06;
}

.typing {
	color: #eee;
	background-color: #1abc9c;
}

@font-face {
    font-family:ubuntu-mono;
    src:url(/fonts/UbuntuMono-R.ttf);
}

.notes {
	color: green;
}
